### Assignment-01 (List)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

Create an empty list and print it.

In [87]:
arr = []
print(arr)

[]

Create a list of your favorite colors and print it.

In [88]:
fav_colors = ["Black", "White", "Grey"]
print(fav_colors)

['Black', 'White', 'Grey']

Create a list that includes a mix of data types (integers, strings, floats).

In [89]:
arr = ["Sohaib", 20.0, 2024]
print(arr)

['Sohaib', 20.0, 2024]

Access the first element of a list.

In [90]:
arr = ["Sohaib", 20.0, 2024]
print(arr[0])

Sohaib

Access the last element of a list.

In [91]:
arr = ["Sohaib", 20.0, 2024]
print(arr[-1])

2024

 Access the second and third elements of a list.

In [92]:
arr = ["Black", "White", "Green", "Grey", "Yellow"]
print(arr[1],arr[2])

White Green


Slice a list to extract the first three elements.

In [93]:
arr = ["Black", "White", "Green", "Grey", "Yellow"]
print(arr[:3])

['Black', 'White', 'Green']

Slice a list to extract the last three elements.

In [94]:
arr = ["Black", "White", "Green", "Grey", "Yellow"]
print(arr[-3:])

['Green', 'Grey', 'Yellow']

Slice a list to get every second element.

In [95]:
arr = ["Black", "White", "Green", "Grey", "Yellow"]
print(arr[1::2])

['White', 'Grey']

Reverse a list using slicing.

In [96]:
arr = ["Black", "White", "Green", "Grey", "Yellow"]
print(arr[::-1])

['Yellow', 'Grey', 'Green', 'White', 'Black']

 Create two lists and concatenate them.

In [97]:
arr_1 = [1,2,3,4,5]
arr_2 = [6,7,8,9,10]
new_arr = arr_1 + arr_2
print(new_arr)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


Repeat a list multiple times using the repetition operator

In [98]:
arr = [1,2,3,4,5,6,7,8,9,10]
rept_arr = arr * 2
print(rept_arr)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Add a new element to the end of a list using the append() method.

In [99]:
arr = [1,2,3,4,5,6,7,8,9,10]
arr.append(11)
arr.append(12)
print(arr)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]


Extend a list with elements from another list using the extend() method.

In [100]:
numbers = [1,2,3,4,5,6,7,8,9,10]
floats = [1.0,2.0,3.0]
numbers.extend(floats)

Insert an element at a specific index in a list using the insert() method.

In [101]:
numbers = [1,2,4,5,6,7,8,9,10]
numbers.insert(2,3)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

 Remove the last element from a list using the pop() method.

In [102]:
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers.pop()

10

Remove a specific element from a list using the remove() method.

In [103]:
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers.remove(10)

Clear all elements from a list.

In [104]:
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers.clear()
numbers

[]

Delete an element at a specific index using the del statement.

In [105]:
numbers = [1,2,3,4,5,6,7,8,9,10]
del(numbers[0])
numbers

[2, 3, 4, 5, 6, 7, 8, 9, 10]

Convert a string to a list of characters and vice-versa.

In [106]:
name = "sohaib"
name = list(name)
name

['s', 'o', 'h', 'a', 'i', 'b']

In [107]:
# Sort a list in ascending order using the sort() method.
numbers = [2,9,1,5,7,4,8,10,6,3]
numbers.sort()
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [108]:
#Sort a list in descending order using the sort() method.
numbers = [2,9,1,5,7,4,8,10,6,3]
numbers.sort(reverse=True)
numbers

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [109]:
# Sort a list in ascending order using the sort() method.
numbers = [2,9,1,5,7,4,8,10,6,3]
numbers.sort(reverse = False)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Reverse the order of a list using the reverse() method.

In [110]:
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers.reverse()
numbers

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

Check if an element is present in a list using the in operator.

In [111]:
numbers = [1,2,3,4,5,6,7,8,9,10]
number = 2
if number in numbers:
    print("yes")
else:
    "No"

yes

Compare two lists to see if they are equal in both value and identity.

In [112]:
numbers_1 = [1,2,3,4,5,7]
numbers_2 = [1,2,3,4,5,6]
numbers_3 = numbers_2
if numbers_1 == numbers_3:
    print("They are equal.")
else:
    print("They are not eqaul.")
if numbers_2 is numbers_3:
    print("They're identical.")
else:
    print("They're not identical.")

They are not eqaul.
They're identical.

Create a shallow copy of a list and modify one of the lists to observe the effects on the other.

In [113]:
numbers = [1,2,3,4,5,6,7,8,9,10]
new_numbers = numbers.copy()
new_numbers[1] = 11
print(numbers)
print(new_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 11, 3, 4, 5, 6, 7, 8, 9, 10]

Create a deep copy of a nested list and modify one of the lists to observe the effects on the other.

In [114]:
import copy
numbers = [1,2,3,5,[6,7,8,9,10]]
new_numbers = copy.deepcopy(numbers)
new_numbers[4][0] = 11
print(numbers)
print(new_numbers)

[1, 2, 3, 5, [6, 7, 8, 9, 10]]
[1, 2, 3, 5, [11, 7, 8, 9, 10]]

Pickle and Unpickle a list and display its content.

In [115]:
import pickle
numbers = [1, 2, 3, 4, 5,6,7,8,9,10]
with open("numbers.txt", "wb") as f:
    pickle.dump(numbers, f)

In [116]:
with open("numbers.txt", "rb") as f:
    unpickled_list = pickle.load(f)
print("Unpickled list:", unpickled_list)

Unpickled list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]