### Assignment-03 (SET)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

    Create an empty set and print it.

In [107]:
my_set = {}
my_set

{}

  Create a set of your favorite colors and print it.

In [108]:
fav_colors = {"Black", "Grey", "White", "Blue", "Green"}
fav_colors

{'Black', 'Blue', 'Green', 'Grey', 'White'}

    Create a set that includes a mix of data types (integers, strings, floats).

In [109]:
mix_set = {"Sohaib", 28.0, "Lahore", 15}
mix_set

{15, 28.0, 'Lahore', 'Sohaib'}

Access the elements of a set using a loop and print each element.

In [110]:
mix_set = {"Sohaib", 28.0, "Lahore", 15}
for element in mix_set:
    print(element)

Lahore
Sohaib
28.0
15

add a new element to a set using the add() method.

In [111]:
mix_set = {"Sohaib", 28.0, "Lahore", 15}
mix_set.add("Johr Town")
mix_set

{15, 28.0, 'Johr Town', 'Lahore', 'Sohaib'}

Add multiple elements to a set using the update() method.

In [112]:
mix_set = {"Sohaib", 28.0, "Lahore", 15}
mix_set.update(("Iqbal Town",923245454))
mix_set

{15, 28.0, 923245454, 'Iqbal Town', 'Lahore', 'Sohaib'}

Remove and return an arbitrary element from a set using the pop() method.

In [113]:
person = {"Sohaib", 28.0, 15, "Iqbal Town", "Lahore", "Pakistan", 923343545}
person.pop()

'Lahore'

Remove a specific element from a set using the remove() method.

In [114]:
person = {"Sohaib", 28.0, 15, "Iqbal Town", "Lahore", "Pakistan", 923343545}
person.remove(15)
person

{28.0, 923343545, 'Iqbal Town', 'Lahore', 'Pakistan', 'Sohaib'}

Remove a specific element from a set using the discard() method.

In [115]:
person = {"Sohaib", 28.0, 15, "Iqbal Town", "Lahore", "Pakistan", 923343545}
person.remove(28.0)
person

{15, 923343545, 'Iqbal Town', 'Lahore', 'Pakistan', 'Sohaib'}

Convert a string to a set of unique characters.

In [116]:
name = "SohaibSaeed"
name_set = set(name)
name_set

{'S', 'a', 'b', 'd', 'e', 'h', 'i', 'o'}

Convert a set of characters to a string.

In [117]:
name_set = {'S', 'o', 'h', 'a', 'i', 'b'}
name = "".join(name_set)
name

'Siohab'

Use the clear() method to remove all elements from a set.

In [118]:
person = {"Sohaib", 28.0, 15, "Iqbal Town", "Lahore", "Pakistan", 923343545}
person.clear()

Use the copy() method to create a shallow copy of a set.

In [119]:
person = {"Sohaib", 28.0, 15, "Iqbal Town", "Lahore", "Pakistan", 923343545}
new_person = person.copy()
new_person

{15, 28.0, 923343545, 'Iqbal Town', 'Lahore', 'Pakistan', 'Sohaib'}

Use the difference() method to find the difference between two sets.

In [120]:
person = {"Sohaib", 28.0, 15, "Iqbal Town"}
Details = {"Lahore", "Pakistan", 923343545}
person.difference(Details)

{15, 28.0, 'Iqbal Town', 'Sohaib'}

Create two sets and find their union.

In [121]:
person = {"Sohaib", 28.0, 15, "Iqbal Town"}
Details = {"Lahore", "Pakistan", 923343545}
person.union(Details)

{15, 28.0, 923343545, 'Iqbal Town', 'Lahore', 'Pakistan', 'Sohaib'}

    Create two sets and find their intersection.

In [122]:
person = {"Sohaib", 28.0, 15, "Iqbal Town"}
Details = {"Lahore", "Pakistan", 923343545}
person.intersection(Details)

set()

 Create two sets and find their difference.

In [123]:
person = {"Sohaib", 28.0, 15, "Iqbal Town"}
Details = {"Lahore", "Pakistan", 923343545, 15}
new = person - Details
new

{28.0, 'Iqbal Town', 'Sohaib'}

    Create two sets and find their symmetric difference.

In [124]:
person = {"Sohaib", 28.0, 15, "Iqbal Town"}
Details = {"Lahore", "Pakistan", 923343545, 15,}
person.symmetric_difference(Details)

{28.0, 923343545, 'Iqbal Town', 'Lahore', 'Pakistan', 'Sohaib'}

Check if one set is a subset of another.

In [125]:
person = {"Sohaib", 28.0, 15, "Iqbal Town"}
Details = {"Lahore", "Pakistan", 923343545}
if person.issubset(Details):
    print("Yes.")
else:
    print("No.")

No.

    Check if one set is a superset of another.

In [126]:
person = {"Sohaib", 28.0, 15, "Iqbal Town"}
Details = {"Lahore", "Pakistan", 923343545}
if person.issuperset(Details):
    print("Yes.")
else:
    print("No.")

No.

    Check if two sets are disjoint (have no common elements).

In [127]:
person = {"Sohaib", 28.0, 15, "Iqbal Town"}
Details = {"Lahore", "Pakistan", 923343545}
if person.isdisjoint(Details):
    print("Yes.")
else:
    print("No.")

Yes.