### Assignment-04 (Tuple)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

    Create an empty tuple and print it.

In [56]:
my_tuple = ()
my_tuple

()

    Create a tuple of your favorite fruits and print it.

In [57]:
fav_fruits = ("Mango", "Apple", "Java")
fav_fruits

('Mango', 'Apple', 'Java')

    Create a tuple that includes a mix of data types (integers, strings, floats).

In [58]:
mix_tuple = ("Sohaib", 28.0, "Lahore", 15)
mix_tuple

('Sohaib', 28.0, 'Lahore', 15)

  Access the first element of a tuple.

In [59]:
person = ("Sohaib", 28.0, "Lahore", 15)
person[0]

'Sohaib'

    Access the last element of a tuple.

In [60]:
person = ("Sohaib", 28.0, "Lahore", 15)
person[-1]

15

Access the second and third elements of a tuple.

In [61]:
person = ("Sohaib", 28.0, "Lahore", 15)
person[1], person[2]

(28.0, 'Lahore')


    Slice a tuple to extract the first three elements.

In [62]:
person = ("Sohaib", 28.0, "Lahore", 15, "Johr Town", "PK")
person[:3]

('Sohaib', 28.0, 'Lahore')

Slice a tuple to extract the last three elements.

In [63]:
person = ("Sohaib", 28.0, "Lahore", 15, "Johr Town", "PK")
person[-3:]

(15, 'Johr Town', 'PK')

   Slice a tuple to get every second element.

In [64]:
person = ("Sohaib", 28.0, "Lahore", 15, "Johr Town", "PK")
person[1::2]

(28.0, 15, 'PK')

    Reverse a tuple using slicing.

In [65]:
person = ("Sohaib", 28.0, "Lahore", 15, "Johr Town", "PK")
person[::-1]

('PK', 'Johr Town', 15, 'Lahore', 28.0, 'Sohaib')

Create two tuples and concatenate them.

In [66]:
person = ("Sohaib", 28.0)
details = ("Lahore", 15, "Johr Town", "PK")
new = person + details
new

('Sohaib', 28.0, 'Lahore', 15, 'Johr Town', 'PK')

    Repeat a tuple multiple times using the repetition operator.

In [67]:
person = ("Sohaib", 28.0, "Lahore", 15, "Johr Town", "PK")
new = person * 2
new

('Sohaib',
 28.0,
 'Lahore',
 15,
 'Johr Town',
 'PK',
 'Sohaib',
 28.0,
 'Lahore',
 15,
 'Johr Town',
 'PK')

Find the index of a specific element in a tuple using the index() method.

In [68]:
person = ("Sohaib", 28.0, "Lahore", 15, "Johr Town", "PK")
person.index("Lahore")

2

    Count the number of occurrences of a specific element in a tuple using the count() method.

In [69]:
person = ("Sohaib", 28.0, "Lahore", 15, "Johr Town", "PK")
person.count("PK")

1

Sort a tuple of numbers in ascending order.

In [70]:
numbers = (7,1,3,5,9,2,10,6)
numbers = list(numbers)
numbers.sort()
numbers = tuple(numbers)
numbers

(1, 2, 3, 5, 6, 7, 9, 10)

    Sort a tuple of strings in alphabetical order.

In [71]:
string = ("f","d","a","c","b","e")
string = list(string)
string.sort()
string = tuple(string)
string

('a', 'b', 'c', 'd', 'e', 'f')

Sort a tuple of tuples based on the second element of each inner tuple.

In [72]:
numbers = ((1, 5), (2, 3), (3, 7), (4, 1))
new = sorted(numbers, key=lambda x: x[1])
print("Sorted tuple:", new)

Sorted tuple: [(4, 1), (2, 3), (1, 5), (3, 7)]

Compare two tuples to see if they are equal in both value and identity.

In [73]:
numbers_1 = (1,2,3,4,5,6,7)
numbers_2 = (2,3,4,5,6,7,8)
numbers_3 = numbers_2
if numbers_1 == numbers_2:
    print("Yes.")
else:
    print("No.")
if numbers_3 is numbers_2:
    print("Yes.")
else:
    print("No.")

No.
Yes.

Create a shallow copy of a tuple and observe the effects of modifying one of the tuples.

In [74]:
import copy
numbers = (1, [2, 3], 4)
new = copy.copy(numbers)
new[1][0] = 20
print(numbers)
print(new)

(1, [20, 3], 4)
(1, [20, 3], 4)

    Create a deep copy of a nested tuple and observe the effects of modifying one of the tuples.

In [75]:
import copy
numbers = (1,2,3,4,[5,6,7,8],9,10)
new = copy.deepcopy(numbers)
new[4][1] = 20
print(numbers)
print(new)

(1, 2, 3, 4, [5, 6, 7, 8], 9, 10)
(1, 2, 3, 4, [5, 20, 7, 8], 9, 10)

    Pickle a tuple and save it to a file.

In [76]:
import pickle
numbers = (1,2,3,4,5,6,7,8,9,10)
with open ("numbers.txt", "wb") as file:
    pickle.dump(numbers, file)

    Unpickle a tuple from a file and display its content.

In [77]:
import pickle
with open ("numbers.txt", "rb") as file:
    new_numbers = pickle.load(file)
new_numbers

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)